
body {
    font-family: "Comic Sans Ms", "Times New Roman", "Arial", serif;
    font-size: 20px;
    color: rgb(26, 255, 217);
    text-shadow: 0px 0px 4px mediumblue;
    background-color: ghostwhite;
}
#calculator {
    margin: auto;
    height: 500px;
    width: 350px;
    background-color: gray;
    box-shadow: -12px -11px 20px 10px rgb(0, 16, 20);
    position: relative;
    font-family: inherit;
    border-width: 5px;
    border-color: rgba(97, 237, 255, 0.61);
    border-style: solid;
    border-radius: 30px;
}
#display {
    background-color: rgb(29, 31, 30);
    color: ghostwhite;
    text-shadow: 0px 0px 2px black, 0px 0px 5px black, 0px 0px 10px black;
    box-shadow: 0px 0px 16px rgb(0, 255, 255);
    height: 100px;
    width: 280px;
    position: relative;
    bottom: 50px;
    border-width: 3px;
    border-color: grey;
    margin-top: 100px;
    margin-bottom: 75px;
    margin-left: 25px;
    border: 3px solid aqua;
    overflow: hidden;
    border-radius: 15px;;
 
}
#inputZone, #answerZone {
    width: 280px;
    height: 25px;
    padding: 10px 10px;
    transition: 0.666s;
}
#firstOperand {
    transition: 0.666s;
}
#secondOperand {
    transition: 0.666s;
}
#answerZone{
    position: relative;
    right: 15px;
    text-align: right;
    transition: 0.666s;
}


button {
    height: 50px;
    width: 50px;
    border-color: rgba(8, 239, 255, 0.612);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.696);
    font-family: "Comic Sans Ms", "Times New Roman", "Arial", serif;
    color: ghostwhite;
    font-size: 15px;
    margin: auto;
    position: relative;
    left: 2.2%;
    border-radius: 50%;
    transition: 0.3s;
}
#buttons{
    width: 230px;
    position: relative;
    bottom: 65px;
    margin: auto;
}
#buttons :hover{
    border-color: white;
}
#buttons :active{
    border-color: blueviolet;
}

#equals {
    width: 115px;
    border-radius: 60px;
}

